* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #cf9dff;
}

.container {
    max-width: 1460px;
    margin: auto;
    padding: 10% 0;
    display: flex;
}

.form {
    display: flex;
    background-color: #f5e06b;
    padding: 32px;
    width: 100%;
}

.form form {
    width: 100%;
}

.form h1 {
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.form input,
.form textarea {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: none;
    display: block;
    margin: 6px 0;
}

.form label {
    font-size: 18px;
}

.form textarea {
    resize: none;
}

.btn {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.btn button {
    padding: 8px 64px;
    background-color: #ffffff;
    border-radius: 60px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border: none;
}