* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body > header {
    background-color: #383838;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

header li {
    display: inline;
    margin-left: 10px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

header .container li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

section {
    padding: 16px;
}

section h2 {
    font-size: 32px;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    width: 30%;
}

.articles article h3 {
    margin: 8px 0;
}

.articles article a {
    background-color: rgb(38, 160, 85);
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article img {
    width: 100%;
}

.articles article h3 {
    font-size: 24px;
}

#sports {
    background-color: #d3fdc9af;
}

#economy {
    background-color: rgba(241, 250, 192, 0.671);
}

#economy .articles article a {
    background-color: rgb(204, 214, 145);
    color: #000;
}

#entertainment {
    background-color: #ddd6ff70
}

#entertainment .articles article a {
    background-color: #8b78e2b0;
}

#tecnology {
    background-color: rgba(173, 235, 235, 0.589);
}

#tecnology .articles article a {
    background-color: #5ecccc79;
    color: #000;
}