@use 'config/reset.scss';
@use 'section/header.scss';
@use 'config/variaveis.scss';
@use 'section/menu.scss';
@use 'section/products.scss';

body {
    background-color: variaveis.$corDeFundo;
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: 56px 0;
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}